<footer class="footer mt-5 pb-5 navbar-light bg-dark fixed-bottom">
    <div class="container">
      <ul class="nav justify-content-center border-bottom pb-2 mb-2">
        <li class="nav-item"><a routerLink="/about-us" class="nav-link px-2 text-white">O Ilê Olorum</a></li>
        <li class="nav-item"><a routerLink="/bazar" class="nav-link px-2 text-white">Bazar</a></li>
        <li class="nav-item"><a routerLink="/agenda" class="nav-link px-2 text-white">Agenda</a></li>
        <li class="nav-item"><a routerLink="/contatos" class="nav-link px-2 text-white">Contatos</a></li>
      </ul>
      <p class="text-center text-white">© 2024 Ilê Olorum OSC. Todos os direitos reservados.</p>
    </div>
</footer>
<hr class="my-5 pb-5"/>