<!-- Description: About us page content -->
<div class="container col-xxl-8 px-4 py-5">

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6 text-center">
      <img src="https://raw.githubusercontent.com/ludhill/ileolorum/refs/heads/main/public/logoileolorum.png"
        class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">

      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
        Históra
      </h1>

      <p class="lead text-justify font-monospace" style="text-align: justify;">
        Fundado na cidade de ilhéus (BA), no ano de 1981, mudou para natal em 1989 e,
        de forma permanente, está localizado em Parnamirim (RN) desde 2000.
        <br />
        O Terreiro de Candoblé Isa de Nanã, juntamente com o Babalorixá Hercules de Xangô e
        suas filhas biológicas Ìyá Roncó Lizi de Oxumarê, Ìyá Kekerê Herisa de Oxosse e a
        Ekéde Lhasa de Ossanhe.
      </p>

      <hr />

      <p class="lead text-justify font-monospace" style="text-align: justify;">
        Atualmente, a responsável espiritual do Ilê Olorum é a Ìyálorixá Herisa de Oxosse.
      </p>

    </div>
  </div>

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Missão</h1>
      <p class="lead text-justify font-monospace" style="text-align: justify;">
        Preservação e perpetuação das expressões culturais dos povos tradicionais de
        matriz africana e afro-brasileira, por meio da religião denominada Candoblé
        de nação Ketu-Vodun, bem como toda e qualquer expressão artística que zele
        pelos saberes ancestrais.
      </p>
      <hr />
      <p class="lead text-justify font-monospace" style="text-align: justify;">
        O Ilê Olorum acolhe um grande número de pessoas que vêm em busca de respostas,
        de alívio, de conforto, de aprendizado ou simplesmente de amizade.
        Independentemente de cor, raça, posição social, orientação sexual ou identidade
        de gênero, todos os que nos procuram são tratados com mesmo respeito e atenção.
      </p>
    </div>
    <div class="col-10 col-sm-8 col-lg-6 text-center">
      <img src="https://raw.githubusercontent.com/ludhill/ileolorum/refs/heads/main/public/logoileolorum.png"
        class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
  </div>

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6 text-center">
      <img src="https://raw.githubusercontent.com/ludhill/ileolorum/refs/heads/main/public/logoileolorum.png"
        class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Visão</h1>
      <p class="lead text-justify font-monospace" style="text-align: justify;">
        Atuar como espaço de formação, de diálogo, de resistência e de promoção de direitos,
        combatendo a intolerância racial e religiosa, abarcando as necessidades da sociedade
        conteporânea e estando a serviço da comunidade interna e externa.
      </p>
    </div>
  </div>


  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Valores</h1>
      <p class="lead text-justify font-monospace" style="text-align: justify;">
        Responsabilidade social, cultural, educadional, luta pela igualdade racial, combate à
        intolerância religiosa e a preservação dos saberes ancestrais, alicerçado sobretudo no
        respeito.
      </p>
    </div>
    <div class="col-10 col-sm-8 col-lg-6 text-center">
      <img src="https://raw.githubusercontent.com/ludhill/ileolorum/refs/heads/main/public/logoileolorum.png"
        class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
  </div>
  <div class="position-fixed bottom-0 end-0 m-4 d-flex gap-2" style="z-index: 1100;">

    <button class="btn btn-dark rounded-circle shadow-lg toggle-btn" (click)="toggleTheme()">
      <i class="bi" [ngClass]="isDarkMode ? 'bi-sun-fill' : 'bi-moon-fill'"></i>
    </button>

    <button class="btn btn-warning rounded-circle shadow-lg toggle-btn" (click)="exibirFooter = !exibirFooter">
      <i class="bi" [ngClass]="exibirFooter ? 'bi-x-lg' : 'bi-info-circle'"></i>
    </button>
  </div>

  <app-footer *ngIf="exibirFooter"></app-footer>

</div>