<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 text-center">
        <img src="https://raw.githubusercontent.com/ludhill/ileolorum/refs/heads/main/public/logoileolorum.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Ilê Olorum é este lugar!</h1>
        <p class="lead">       
            Ao falar de casa, falamos de lar, de um lugar no qual todos são bem vindes e acolhides! 
            O Ilê Olorum é este lugar, de paz, de aconchego; lugar de todes nós! 
            Lugar que possui uma longa história no estado do Rio Grande do Norte, 
            história guiada pela nossa Ìyálorixá Isa de Nanã, história que continua. 
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 d-none">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4 d-none">Default</button>
        </div>
      </div>
    </div>
  </div>