<br /><br />
<hr class="my-5" />
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light opacity-75" style="justify-self: center; border-radius: 2px; ">
    <div class="container-fluid">
      <a class="nav-link btn btn-outline-secondary navbar-brand d-block d-md-none" routerLink="">
        <img src="https://raw.githubusercontent.com/ludhill/ileolorum/refs/heads/main/public/logoileolorum64x64.png" class="img-fluid" />
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-lg-0 ">
          <li class="nav-item align-self-center">
            <h4>
              <a class="nav-link btn btn-outline-secondary" routerLink="about-us">O IlÊ Olorum</a>
            </h4>
          </li>
          <li class="nav-item align-self-center">
            <h4>
              <a class="nav-link btn btn-outline-secondary" routerLink="recipe">Bazar</a>
            </h4>
          </li>
          <li class="nav-item align-self-center">
            <a class="nav-link btn btn-outline-secondary" routerLink="">
              <img src="https://raw.githubusercontent.com/ludhill/ileolorum/refs/heads/main/public/logoileolorum64x64.png" class="img-fluid" />
            </a>
          </li>
          <li class="nav-item align-self-center">
            <h4>
              <a class="nav-link btn btn-outline-secondary" routerLink="recipe">Agenda</a>
            </h4>
          </li>
          <li class="nav-item align-self-center">
            <h4>
              <a class="nav-link btn btn-outline-secondary" routerLink="/feedbacks">Contatos</a>
            </h4>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
<router-outlet/>
