<nav class="navbar navbar-expand-md navbar-light fixed-top bg-white shadow-sm py-2">
  <div class="container d-flex justify-content-center">
    
    <ul class="navbar-nav d-flex flex-row align-items-center gap-3 gap-md-5">
      
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" routerLink="/about-us" routerLinkActive="active">O Ilê Olorum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" routerLink="/xire" routerLinkActive="active">Xirê</a>
      </li>

      <li class="nav-item px-2 px-md-4">
        <a class="logo-link" routerLink="/">
          <img src="https://raw.githubusercontent.com/ludhill/ileolorum/refs/heads/main/public/logoileolorum64x64.png" 
               alt="Logotipo oficial do Ilê Olorum" 
               class="logo-img">
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" routerLink="/agenda" routerLinkActive="active">Agenda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" routerLink="/contatos" routerLinkActive="active">Contatos</a>
      </li>
    </ul>

  </div>
</nav>